// Colors
$dark-blue: #34495E;
$dark-blue-shadow: #243648;
$green: #2ECC71;
$green-shadow: #27AE60;
$blue: #3498db;
$light-grey: #F1F2F6;
$coastal-breeze: #dff9fb;
$grey: #7F8FA6;
$grey-shadow: #718093;
$white: #ffffff;
$red: #FF4757;
$dark-red: #c0392b;
$black-pearl: #1e272e;
$good-night: #485460;
$dull-green: #218C74;
$light-aqua-green: #55EFC4;
$aqua: #00CEC9;
$baltic-sea: #28343D;

// Measurements
$default-margin: 20;
$default-padding: 20;
$button-depth: 5px;

// Components
$default-border-radius: 8;

/// Sections
