{{ define "contact_us_flash" }}
    <div class="flash form-success-flash contactUsFlash">
        <div class="flash__inner" role="alert">
            {{ .FormSuccess }}
        </div>
    </div>
{{ end }}