{{ define "service_card" }}
    <div class="service-card">
        <h5>{{ .Heading }}</h5>
        <div class="service-card__content">
            <p>{{ .Details }}</p>
        </div>
        <a href="#" class="button button--block service-button" onclick="">Contact Us</a>
    </div>
{{ end }}