{{ define "subscribe_flash" }}
    <div class="flash form-success-flash subscribeFlash">
        <div class="flash__inner" role="alert">
            {{ .SubscribeSuccess }}
        </div>
    </div>
{{ end }}