{{ define "what_we_do_card" }}
    <div class="what-we-do-card">
        <div class="product-card__img">
            <img src="{{ .Image }}" alt="">
        </div>
        <h6>{{ .Heading }}</h6>
        <p>{{ .Details }}</p>
    </div>
{{ end }}