@import "../variables";

@mixin button($background-color, $shadow-color, $color: $white) {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  background-color: $background-color;
  color: $color;
  border-radius: 8px;
  padding: 8px 12px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: $button-depth solid $shadow-color;
  cursor: pointer;
  //transition: all .2s ease-in-out;
  &:hover {
    margin-top: 1px;
    border-bottom-width: 4px;
  }
  &:active {
    margin-top: 4px;
    border-bottom-width: 1px;
  }
  &--lg {
    padding: 6px 40px;
    font-size: 17px;
    @include screen-medium() {
      font-size: 19px;
    }
    @include screen-large() {
      font-size: 22px;
    }
  }
  &--block {
    text-align: center;
    display: block;
    width: 100%;
  }
  &--danger {
    background-color: $red;
    border-bottom: $button-depth solid $dark-red;
  }
  &--dark {
    background-color: $dark-blue;
    border-bottom: $button-depth solid $dark-blue-shadow;
    color: $light-aqua-green;
    &:hover {
      color: $aqua;
    }
  }
  &--light {
    background-color: $aqua;
    border-bottom: $button-depth solid $dull-green;
    color: $black-pearl;
  }
}



@mixin button-advert() {
  display: flex;
  width: 100%;
  justify-content: center;
  a {
    @include orbitron-factory(400);
  }
  .button {
    @include screen-large() {
      padding-left: get-px($default-padding*3);
      padding-right: get-px($default-padding*3);
    }
  }
  @include screen-extra-large() {
    margin-bottom: get-px($default-margin*3);
  }
}