@import "../variables";
@import "../mixins/fonts";
@import "../functions/measurements";

.flyer {
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $dark-blue;
    color: $white;
    border-radius: 8px;
    padding: get-px($default-padding*2);
    img {
      width: auto;
      max-width: 120px;
      height: auto;
      margin-bottom: get-px($default-margin*2);
    }
    h2 {
      font-weight: 500;
      font-size: 22px;
      text-align: center;
      @include screen-medium() {
        font-weight: 600;
        font-size: 26px;
        letter-spacing: 0.53em;
      }
      margin-bottom: get-px($default-margin);
    }
    h3 {
      @include orbitron-factory(700);
      font-size: 26px;
      @include screen-medium() {
        font-size: 37px;
      }
      max-width: 347px;
      text-align: center;
      margin-bottom: get-px($default-margin);
    }
    h5 {
      font-size: 26px;
      @include screen-medium() {
        font-size: 38px;
      }
      font-weight: 600;
      color: $aqua;
      text-align: center;
    }
    hr {
      border: 3px solid $aqua;
      width: 100%;
      @include screen-medium() {
        margin-bottom: get-px($default-margin);
      }
    }

    &__price-container {
      display: flex;
      flex-direction: column;
      @include screen-large() {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
      }
      justify-content: space-around;
     &__left {
      p {
        font-size: 60px;
        margin-bottom: 0;
        @include screen-medium() {
          margin-bottom: auto;
          font-size: 102px;
        }
        font-weight: 600;
      }
     }
     &__right {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       &__top {
         p {
            font-weight: 400;
            font-size: 12px;
            @include screen-medium() {
              font-size: 15px;
              font-weight: 500;
            }
            margin-bottom: 0;
         }
       }
      &__bottom {
        p {
          font-weight: 600;
          font-size: 27px;
          @include screen-medium() {
            font-size: 45px;
          }
        }
      }
     }
    }
  }
  h6 {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    @include screen-medium()  {
      text-align: left;
      font-size: 19px;
      font-weight: 600;
    }
  }
}