{{ define "content" }}
    <div class="single-page">
        {{ template "single_page_flyer" . }}
        {{ template "product_advert_1" . }}
        {{ template "product_advert_2" . }}
    </div>
{{ end }}
