{{ define "content" }}
    <div class="home">
        {{ template "hero_section" . }}
        {{ template "info_section" . }}
        {{ template "what_we_do_section" . }}
        {{ template "product_section" . }}
        {{ template "service_section" . }}
        {{ template "contact_us_section" . }}
        {{ template "connect_section" . }}
    </div>
{{ end }}
